ul {
    display: flex;
    gap: 30px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
   }
   
   ul li a:hover {
    color: #8B65BF;
  
   }
   
   ul li a.active {
    color: #8B65BF;
  
   }
   .nav li{
    list-style-type: none;
   }
  