body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  text-align:left;
  display:block;
  padding: 20px 20px;
}

.input textarea {
  width: 50%;
  height: 250px;
  min-width: 20%;
  max-width: 80%;
  resize: horizontal;
  padding: 10px 20px;
  border-radius: 4px;
}
