body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ide {
  text-align:left;
  display:inline-block;
}

.input textarea {
  width: 50%;
  height: 250px;
  padding: 10px 20px;
  border-radius: 4px;
  resize:none;
}

.output iframe {
  width: 50%;
  height: 250px;
}